---
layout: base
title: Publications
active: pub
---

<h1>Papers</h1>
<p>For the updated list, check out my
  <a href="https://scholar.google.com/citations?user=IuMFxFUAAAAJ&amp;hl=en&amp;oi=ao">Google Scholar</a> page.</p>
<p class="note">(* denotes equal contribution or alphabetic ordering, &dagger; denotes corresponding author)</p>

<!-- Every paper, in order; content comes from _data/publications.yml. -->
{% for p in site.data.publications %}
<div class="pub-item{% if p.boxed %} boxed{% endif %}">
  <b>{{ p.title }}</b><br>
  {{ p.authors }}<br>
  {% if p.note %}<i>{{ p.note }}</i><br>{% endif %}
  <i>{{ p.venue }}</i><br>
  <span class="links">{% for l in p.links %}<a href="{{ l.url }}">[{{ l.name }}]</a> {% endfor %}</span>
</div>
{% endfor %}
